.logo {
  display: none;
}

.topbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.link-dnone {
  display: none;
}

.help-icon{
  display:none;
}

.username {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-accent);
  border: 3px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.username:hover {
  background-color: rgb(0 0 0 / 0.1);
}

.help-icon:hover {
  transform: scale(1.2);
}

.content {
  padding: 40px 20px;
}

.slogan-desktop {
  display: none;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.logo-mobile {
  display: block;
  width: 40px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.sidebar {
  background-color: var(--color-primary);
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

.sidebar ul,
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.sidebar a {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 5px;
}

.sidebar ul li:hover,
.dropdown ul li:hover {
  background-color: color-mix(
    in srgb,
    var(--color-primary-dark) 30%,
    transparent
  );
}

.sidebar ul li.active {
  background-color: var(--color-primary-dark);
  border-radius: 10px;
}

.sidebar ul li a,
.dropdown ul li a {
  text-decoration: none;
  color: var(--color-nav-item);
  cursor: pointer;
}

.dropdown {
  width: 120px;
  padding: 20px;
  border-radius: 20px 0px 20px 20px;
  position: absolute;
  right:0px;
  top: 100%;
  transition: all 250ms ease-in-out;
  background-color: var(--color-primary);
}
.closed_menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.open_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.dropdown ul li {
  padding: 10px;
}

.nav-icon {
  width: 20px;
  height: 20px;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row-reverse;
  }

  .topbar {
    padding: 0 40px;
    align-items: center;
    box-shadow: var(--shadow-default);
  }

  .sidebar {
    width: 200px;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    margin-top: 0;
  }

  .sidebar ul {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .sidebar a {
    flex-direction: row;
    padding-left: 50px;
  }

  .logo {
    display: block;
    width: 80px;
    margin: 40px auto 60px auto;
  }

  .slogan-desktop {
    display: inherit;
  }
  .logo-mobile {
    display: none;
  }

  .content {
    padding: 80px 80px 0 80px;
  }

  .link-dnone,
  .link-dnone a {
    display: inherit;
    color: var(--color-nav-item);
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .link-dnone a:hover {
    color: var(--color-accent);
    font-weight: bold;
  }

  .legal-links {
    margin-top: 100%;
  }

  .help-link-mobile{
    display: none;
  }

  .help-icon{
  display:inherit;
}


.sidebar ul li.active {
  background-color: var(--color-primary-dark);
  border-radius: 0px;
}

}
@media (min-width: 1024px) {
  .topbar {
    padding: 0 max(calc(50% - 940px), 80px);
  }

  body {
    justify-content: center;
    max-width: 1880px;
    margin: 0 auto;
  }
}
